<button type="button" (click)="Add()" class="btn btn-primary" style="position: relative;margin: auto;left:800px;top:40px">Ajouter</button>

<div class="container" style="top:80px;position: relative;">
<div class="row">
    <div class="card-group">
    <div class="card" style="width: 32%;height: 100%;">
        <div class="card-body">
            <h2 class="card-title">Competence 1</h2>
            <p class="card-text">Lorem Ipsum jzadhefvg.....</p>
            <mat-tab-group animationDuration="500ms" style="width:90%;margin:auto">
                <mat-tab label="Niveau 1">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>
                <mat-tab label="Niveau 2">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>
                <mat-tab label="Niveau 3">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>

                </mat-tab-group>
            <div>
            <a style="position: relative;top: 10px;" href="#" class="btn btn-primary">Détails</a>
        </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Competence 1</h2>
            <p class="card-text">Lorem Ipsum jzadhefvg.....</p>
            <mat-tab-group animationDuration="500ms" style="width:90%;margin:auto">
                <mat-tab label="Niveau 1">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>
                <mat-tab label="Niveau 2">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>
                <mat-tab label="Niveau 3">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>

                </mat-tab-group>
            <div>
            <a style="position: relative;top: 10px;" href="#" class="btn btn-primary">Détails</a>
        </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card " style="width: 32%;height: 100%;">
        <div class="card-body">
            <h2 class="card-title">Competence 1</h2>
            <p class="card-text">Lorem Ipsum jzadhefvg.....</p>
            <mat-tab-group animationDuration="500ms" style="width:90%;margin:auto">
                <mat-tab label="Niveau 1">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>
                <mat-tab label="Niveau 2">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>
                <mat-tab label="Niveau 3">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>

                </mat-tab-group>
            <div>
            <a style="position: relative;top: 10px;" href="#" class="btn btn-primary">Détails</a>
        </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card" style="width: 32%;height: 100%;">
        <div class="card-body">
            <h2 class="card-title">Competence 1</h2>
            <p class="card-text">Lorem Ipsum jzadhefvg.....</p>
            <mat-tab-group animationDuration="500ms" style="width:90%;margin:auto">
                <mat-tab label="Niveau 1">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>
                <mat-tab label="Niveau 2">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>
                <mat-tab label="Niveau 3">
                    <p class="card-text">Description </p>
                    <p class="card-text">Critéres d'Evaluation</p>
                    <p class="card-text">Critéres de Performance</p>
                </mat-tab>

                </mat-tab-group>
            <div>
            <a style="position: relative;top: 10px;" href="#" class="btn btn-primary">Détails</a>
        </div>
        </div>
    </div>
</div>
</div>
</div>
