
<div class="page-wrapper  p-t-100 p-b-50" style="position:relative;bottom:50px;">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading" style="color: #000080;">
                <h2 class="title">New User</h2>
            </div>
            <div class="card-body" style="height:700px;width:90%;position: relative;bottom: 54px;">
                <form class="form-group" [form-group]="UserForm" enctype="multipart/form-data" (ngSubmit)="AddUser(Userform)">
                    <div class="form-row">
                        <div class="name">Username</div>
                        <div class="value">
                            <input class="input--style-6" [formControlName]="'username'" type="text" name="username">
                            <small *ngIf="!UserForm.get('username').sale " style="color:red">
                                Please enter a valid username
                            </small>
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="name">Firstname</div>
                        <div class="value">
                            <input class="input--style-6" [formControlName]="'firstname'" type="text" name="firstname">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Lastname</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="lastname" [formControlName]="'lastname'">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Email address</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="email" name="email" placeholder="example@email.com" [formControlName]="'email'">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Profil</div>
                        <div class="value">
                            <div class="input-group">
                                <select class="input--style-6"  name="profil" [formControlName]="'profil'" >
                                    <option>ADMIN</option>
                                    <option>FORMATEUR</option>
                                    <option>APPRENANT</option>
                                    <option>CM</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    
                    <div class="form-row">
                        <div class="name">Upload Avatar</div>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <input type="file" (change)="selectedFile($event.target.files,$event)"  name="file_cv" [formControlName]="'file'">
                                <label class="label--file" for="file">Choose file</label>
                                <span class="input-file__info">No file chosen</span>
                            </div>
                            <div class="label--desc">Upload your CV/Resume or any other relevant file. Max file size 50 MB</div>
                        </div>
                        <div>
                        <img [src]="url" width="100" height="100" alt="avatra">
                    </div>
                </div>
                <button (click)="addUser(f.value)" class="btn btn--radius-2 btn--blue-2" type="submit">Submit</button>
                </form>

                
            </div>
            
        </div>
    </div>
</div>