<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="background-color: darkblue;">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
      
      <span class="sr-only">Toggle Menu</span>
    </button>
</div>
        <div class="p-4">
          <h1><a href="www.sonatelacademy.sn" class="logo">Sonatel Academy <span>#CodingForBetterLife</span></a></h1>
          <ul class="list-unstyled components mb-5">
            <li class="active">
               <span (click)="redirect(1)"  class="fa fa-home mr-3">Home</span>
            </li>
            <li class="active" style="height:70%;">
                <span (click)="redirect(2)" class="fa fa-user mr-3">Users</span>
            </li>
            <li>
            <span (click)="redirect(3)" class="fa fa-briefcase mr-3">Profils</span>
            </li>
            <li>
            <span (click)="redirect(4)" class="fa fa-sticky-note mr-3">Groupe de Competences</span>
            </li>
            <li>
            <span (click)="redirect(5)" class="fa fa-suitcase mr-3">Competences</span>
            </li>
            <li>
            <span (click)="redirect(6)" class="fa fa-cogs mr-3">Referentiels</span>
            </li>
            <li>
            <span (click)="redirect(7)" class="fa fa-paper-plane mr-3">Profil de Sortie</span>
            </li>
      
            <li>
              <span (click)="redirect(8)" class="fa fa-paper-plane mr-3">Promo</span>
            </li>
      
          </ul>

    

    

    <div class="footer">
    
    </div>

  </div>
</nav>

<!-- Page Content  -->



<div id="content" class="p-4 p-md-5 pt-5" style="background-color:#f7f7f9;overflow: auto;">
    
    <div style="width: 100%;">
        <div class="card card-chart">
          <div class="card-header card-header" style="width:100%;height:130px;background-color: darkblue;position: relative;left:1%">
            <a href="#">
            <span class="material-icons" style="color:cyan;position: relative;align-self: flex-end;">
                add_circle
            </span>
        </a>
            
        </div>
          <div class="card-body" style="height:80px;">
            <h4 class="card-title">Liste Des Competences</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
              
            </div>
          </div>
        </div>
      </div>

   <div id="content-page" style="width: 100%;height: 82%;overflow:auto;position: relative;">
    <div style="position: relative;left:48%;top:30%;overflow: auto;">
      <mat-spinner [hidden]="showSpinner"></mat-spinner>
    </div>
    <div class="container-fluid mb-5" [hidden]="ShowData" style="width: 100%;height:100%;">
      
      
      <div id="container-competence" style="width: 100%;height:70%;border:2px solid darkblue;">

        <div id="list-competence" style="width: 40%;height:100%; ;position: relative;display: inline-block;overflow:auto">

            <div id="list-groupecompetences" style="width:100%;height:15%;">

              <mat-form-field appearance="fill">
                <mat-label>Select an option</mat-label>
                <mat-select style="height: 100%;">
                  
                  <mat-option (click)="Show($event.target)" *ngFor="let groupecompetence of referentiels" value={{groupecompetence}} >{{groupecompetence.libelle}}</mat-option>
                  
                </mat-select>
              </mat-form-field>
              

            </div>
              <div *ngFor="let competence of Competences" id="content-competences" style="width:100%;height: 20%;position: relative;top:20px;">
                <div class="row" style="width: 100%;height: 100%;">
                  <button id={{competence.id}} (blur) =Onblur($event.target) (focus)="Onfocus($event.target)"  style="width: 100%;height:100%;" mat-flat-button >{{competence.libelle}}</button>
              </div>
            </div>

        </div>

        <div id="list-niveaux" style="width: 60%;height:100%;position: relative;display: inline-block;overflow:auto;">
            <div id="title-niveaux" style="width: 100%;height: 15%;">
              
              <p>
                Niveaux
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                  <mat-button-toggle id="level-1" (click)="ShowOneNiveau($event.target)"   value="Niveau 1">Niveau 1</mat-button-toggle>
                  <mat-button-toggle id="level-2" (click)="ShowOneNiveau($event.target)" value="Niveau 2">Niveau 2</mat-button-toggle>
                  <mat-button-toggle id="level-3" (click)="ShowOneNiveau($event.target)"  value="Niveau 3">Niveau 3</mat-button-toggle>
                </mat-button-toggle-group>
              </p>
              
              
              
            </div>

            <div id="content-niveaux"  style="width: 100%;height: 85%;">
              <div id="content-grpeaction" style="width: 50%;height: 100%;position: relative;display: inline-block;">
                <div id="grp1">
                  
                </div>
                <div id="grp2">
                  
                </div>
                <div id="grp3">
                  
                </div>
                <div id="grp3">
                  
                </div>
              </div>

              <div id="content-critereEvaluation" style="width: 50%;height: 100%;position: relative;display: inline-block;">
                  
              </div>

            </div>
        </div>

     </div>
    </div>

  </div>
   </div>

</div>
<router-outlet></router-outlet>

