<div class="container-competence">
    <div class="header-competence">NEW GROUPE DE COMPETENCES</div>
  <div>
    <div class="container-form-competence">
  <mat-form-field>
      <mat-label>Libelle</mat-label>
      <input matInput>
  </mat-form-field>
  </div>
  <div>
    <mat-form-field class="textarea">
      <mat-label>Descriptif</mat-label>
      <textarea cols="10" matInput placeholder="Lorem ipsum...."></textarea>
    </mat-form-field>
  </div>
<div>
  <mat-form-field class="example-chip-list">
    <mat-label>Compétences</mat-label>
    <mat-chip-list #chipList aria-label="Compétences">
      <mat-chip
        *ngFor="let fruit of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Attribute Competence who exist"
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          
          <button mat-icon-button  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" aria-label="Example icon-button with menu icon">
            <mat-icon>add</mat-icon> New Competence
            </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        
        <div>
          <div class="container-form-competence">
        <mat-form-field>
            <mat-label>Libelle</mat-label>
            <input matInput>
        </mat-form-field>
        </div>
        
        <div>
        <mat-tab-group animationDuration="500ms" style="width:90%;margin:auto">
            <mat-tab label="Niveau 1">
                <mat-form-field class="example-full-width">
                    <mat-label>Groupe d'actions à réaliser</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
        
                  <mat-form-field class="example-full-width">
                    <mat-label>Critéres d'Evaluations</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
            </mat-tab>
            <mat-tab label="Niveau 2">
                <mat-form-field class="example-full-width">
                    <mat-label>Groupe d'actions à réaliser</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
        
                  <mat-form-field class="example-full-width">
                    <mat-label>Critéres d'Evaluations</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
            </mat-tab>
            <mat-tab label="Niveau 3">
                <mat-form-field class="example-full-width">
                    <mat-label>Groupe d'actions à réaliser</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
        
                  <mat-form-field class="example-full-width">
                    <mat-label>Critéres d'Evaluations</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
            </mat-tab>
          </mat-tab-group>
          
        </div>
        </div>

      </div>
    </div>
  </div>
</div>
  
  
    <div class="col-lg-6 login-btm login-button">
      <button style="color:white;background-color:#000080;margin: auto;position: relative;top:30px;left:300px" (click)="login(f.value)" type="submit" class="btn btn-outline-primary">SUBMIT</button>
  </div>
  </div>
  </div>

    