<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="background-color: darkblue;">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
      
      <span class="sr-only">Toggle Menu</span>
    </button>
</div>
        <div class="p-4">
          <h1><a href="www.sonatelacademy.sn" class="logo">Sonatel Academy <span>#CodingForBetterLife</span></a></h1>
    <ul class="list-unstyled components mb-5">
      <li class="active">
         <span (click)="redirect(1)"  class="fa fa-home mr-3"> Home </span>
      </li>
      <li class="active" style="height:70%;">
          <span (click)="redirect(2)" class="fa fa-user mr-3"> Users </span>
      </li>
      <li>
      <span (click)="redirect(3)" class="fa fa-briefcase mr -3"> Profils</span>
      </li>
      <li>
      <span (click)="redirect(4)" class="fa fa-sticky-note  mr-3 "> Groupe de Competences </span>
      </li>
      <li>
      <span (click)="redirect(5)" class="fa fa-suitcase mr- 3"> Competences </span>
      </li>
      <li>
      <span (click)="redirect(6)" class="fa fa-cogs mr-3"> Referentiels </span>
      </li>
      <li>
      <span (click)="redirect(7)" class="fa fa-paper-plane  mr-3 "> Profil de Sortie </span>
      </li>

      <li>
        <span (click)="redirect(8)" class="fa fa-paper-plane  mr-3 "> Promo </span>
        </li>

    </ul>

    

    <div class="footer">
    
    </div>

  </div>
</nav>

<!-- Page Content  -->



<div id="content" class="p-4 p-md-5 pt-5" style="background-color:#f7f7f9">
    
    <div style="width: 100%;">
        <div class="card card-chart">
          <div class="card-header card-header" style="width:100%;height:130px;background-color: darkblue;position: relative;left:1%">
            <a>
            <span class="material-icons" style="color:cyan;position: relative;align-self: flex-end;">
                add_circle
            </span>

            
        </a>
            
        </div>
          <div class="card-body" style="height:80px;">
            <h4 class="card-title">Ajout d'un Groupe de compétences</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
              <span (click)="logout()" style="color:darkblue;position: relative;left:1190px;width:100px;">Déconnexion
                <i class="fas fa-power-off" ></i>
              </span>
            </div>
          </div>
        </div>
      </div>

   <div id="content-page" style="width: 100%;height: 82%;overflow: scroll;position: relative;">
    <div style="position: relative;left:48%;top:30%">
      <mat-spinner [hidden]="showSpinner"></mat-spinner>
    </div>
    <div class="container-fluid mb-5" [hidden]="ShowData">
        
        <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Libelle & Descriptif</ng-template>
                <mat-form-field>
                  <mat-label>Libelle</mat-label>
                  <input matInput  formControlName="libelle" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Descriptif</mat-label>
                  <textarea matInput formControlName="descriptif" required></textarea>
                </mat-form-field>
                <div>
                  <p>Go to a different step to see the error state</p>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Type & Nom</ng-template>
                <mat-form-field>
                  <mat-label>Type</mat-label>
                  <input matInput  formControlName="type" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Nom</mat-label>
                  <input matInput formControlName="nom" required>
                </mat-form-field>
                <div>
                  <p>Go to a different step to see the error state</p>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            
            <mat-step>
              <ng-template matStepLabel>Compétence(s)</ng-template>
              <p>You are now done.</p>

              <div cdkDropListGroup>
                <div class="example-container">
                  <p>Non Affecté(s)</p>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="todo"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.libelle}}</div>
                  </div>
                </div>
              
                <div class="example-container">
                  <p>Affecté(s)</p>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="done"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.libelle}}</div>
                  </div>
                </div>
              </div>
              
              
              <div>
                
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <div class="col-lg-6 login-btm login-button">
                  <button (click)="addGrpecompetences(firstFormGroup.value)" [disabled]="firstFormGroup.invalid"  style="color:white;background-color:#000080;margin: auto;position: relative;left:830px"  class="btn btn-outline-primary">SUBMIT</button>
              </div>
              </div>
              
            </mat-step>
          </mat-horizontal-stepper>
          
           
         
            

    </div>
   </div>

</div>
<router-outlet></router-outlet>

