
<div class="container-competence">
  <div class="header-competence">NEW COMPETENCE</div>
<div>
  <div class="container-form-competence">
<mat-form-field>
    <mat-label>Libelle</mat-label>
    <input matInput>
</mat-form-field>
</div>
<div>
<mat-form-field appearance="fill">
    <mat-label>Groupe de Competence</mat-label>
    <mat-select>
       
      <mat-option *ngFor="let groupecmp of groupecmps" value={{groupecmp.libelle}}>{{groupecmp.libelle}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
<mat-tab-group animationDuration="500ms" style="width:90%;margin:auto">
    <mat-tab label="Niveau 1">
        <mat-form-field class="example-full-width">
            <mat-label>Groupe d'actions à réaliser</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Critéres d'Evaluations</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
    </mat-tab>
    <mat-tab label="Niveau 2">
        <mat-form-field class="example-full-width">
            <mat-label>Groupe d'actions à réaliser</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Critéres d'Evaluations</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
    </mat-tab>
    <mat-tab label="Niveau 3">
        <mat-form-field class="example-full-width">
            <mat-label>Groupe d'actions à réaliser</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Critéres d'Evaluations</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
    </mat-tab>
  </mat-tab-group>
  <div class="col-lg-6 login-btm login-button">
    <button style="color:white;background-color:#000080;margin: auto;position: relative;top:30px;left:35px" (click)="login(f.value)" type="submit" class="btn btn-outline-primary">SUBMIT</button>
</div>
</div>
</div>
</div>
  