

<table mat-table [dataSource] ="dataSource" class="mat-elevation-z8"> 
    <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition" --> 
    <!-- Position Column --> 
    

    <!-- Name Column --> 

    <ng-container matColumnDef="libelle"> 
    <th id="libelle" mat-header-cell *matHeaderCellDef > Libelle
    </th> 
    <td id="{{profil.id}}" (mouseout)="defaultvalue($event.target)" (click)="selected($event.target)" mat-cell *matCellDef="let profil" > {{ profil.libelle }} 
    </td> 
    </ng-container> 

    <ng-container matColumnDef="action">
        <mat-header-cell  *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let profil" > 
            
              <button (click)="editProfilsortie(profil.id)" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <span class="material-icons" style="color: deeppink;">
                    edit
                    </span>
              </button>
              <button (click)="updateProfilsortie(profil.id)"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <span class="material-icons" style="color: deeppink;">
                    delete
                </span>
              </button>
        </mat-cell>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr> 
    <tr  mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr> 
    </table> 
  
    
   
  