<div class="container-competence">
    <div class="header-competence">NEW GROUPE DE COMPETENCES</div>
  <div>
    <div class="container-form-competence">
  <mat-form-field>
      <mat-label>Libelle</mat-label>
      <input matInput>
  </mat-form-field>
  </div>
  <div>
    <mat-form-field class="textarea">
      <mat-label>Descriptif</mat-label>
      <textarea matInput placeholder="Lorem ipsum...."></textarea>
    </mat-form-field>
  </div>
<div>
  
    <div class="col-lg-6 login-btm login-button">
      <button style="color:white;background-color:#000080;margin: auto;position: relative;top:30px;left:300px" (click)="login(f.value)" type="submit" class="btn btn-outline-primary">SUBMIT</button>
  </div>
  </div>
  </div>

    